:root {
  --background-color: #333;
  --foreground-color: #fff;
}

body {
  padding: 60px 120px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  border-bottom: 1px solid var(--foreground-color);
}

h2:not(:first-child) {
  margin-top: 120px;
}

.sample:not(:last-child) {
  margin-bottom: 40px;
}

.third-container {
  background-color: var(--foreground-color);
  color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
}

.third-text {
  font-family: "Times New Roman", Times, serif;
  line-height: 130%;
}

.third-btn {
  font-style: italic;
}
